@font-face {
    font-family: 'proximaregular';
    src: url('proximanova-regular/proximanova-regular-webfont.eot');
    src: url('proximanova-regular/proximanova-regular-webfont.woff') format('woff'),
         url('proximanova-regular/proximanova-regular-webfont.ttf') format('truetype'),
         url('proximanova-regular/proximanova-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

  


}

@font-face {
      font-family: 'proximasemibold';
    src: url('proximanova-semibold/proximanova-semibold-webfont.eot');
    src: url('proximanova-semibold/proximanova-semibold-webfont.woff') format('woff'),
         url('proximanova-semibold/proximanova-semibold-webfont.ttf') format('truetype'),
         url('proximanova-semibold/proximanova-semibold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}